[run]
branch = True
omit =
    venv/*
    api/celery.py
    api/wsgi.py
    api/views.py
    api/settings/*
    utils.py
    manage.py
    */migrations/*
    */apps.py
    */tasks.py
    */templatetags/*
