{% extends 'base.html' %}
{% load bookings_filters %}

{% block content %}
  <p>Your flight has been ticketed.</p>
  <br>
  <p>Flight: {{ ticket.flight.flight_number }}</p>
  <p>Ticket number: <strong>{{ ticket.ticket_number }}</strong></p>
  <p>Flight status: {{ ticket.flight_status }}</p>
  <p>From: {{ ticket.flight.departing }}</p>
  <p>Departure time: <strong>{{ ticket.flight.departure_datetime|ctime }}</strong> {{ ticket.flight.departure_datetime|cdate }}</p>
  <p>To: {{ ticket.flight.destination }}</p>
  <p>Arrival time: <strong>{{ ticket.flight.arrival_datetime|ctime }}</strong> {{ ticket.flight.arrival_datetime|cdate }}</p>
  <p>Passenger name: {{ ticket.passenger.first_name }} {{ ticket.passenger.last_name }}</p>
  <br>
{% endblock %}
